<div class="header">
    <h1>Eat the burger!</h1>
    <img class="burgerPic" src="/assets/img/burger.png" alt="Delicious Burger">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 id="notHungry">Not hungry yet</h2>
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class="col-6">
            <h2 id="yum">Yummy!</h2>
            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devour=false}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>



{{!-- <form id="create-form">
    <div class="mb-3 form-group">
        <label for="submit" class="form-label">Type in your favorite burger:</label>
        <input type="text" class="form-control" id="submitBurgerForm" aria-describedby="addBurger">
        <button type="submit" class="btn btn-primary">Add Burger</button>
    </div>
</form> --}}

<div class="form">
    <form id="create-form">
        <div class="mb-3 form-group">
            <label for="submitBurgerForm" class="form-label">Enter in a burger you would like to eat!</label>
            <input type="text" class="form-control" id="submitBurgerForm" aria-describedby="addBurger">
            <button type="submit" id="submitBurger" class="btn btn-primary">Add Burger</button>
        </div>
    </form>
</div>