<li>
	{{burger_name}}

	<button class="devour-it" data-id="{{id}}" data-hungry="{{devour}}">
		{{#if devour}}Devour It!{{/if}}
	</button>
</li>



{{!-- 
	<button class="devour-it" data-id="{{this.id}}">Devour it!</button> --}}